<a id="top" href="#"><img src="{{ site.baseurl }}/images/arrow.png"></a>

<footer>

<div id="f_container">
	
		<div id="f_1">
			<div class="f_icon" style="background-image: url({{ site.baseurl }}/images/inforound.png);">
			</div>
			<div class="f_link_group bold">
				<span class="f_link">&nbsp;<i class="fa fa-chevron-circle-right f_mini" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://projects.eclipse.org/projects/technology.omr">OMR on Eclipse Technology projects</a>
				</span>
				<br>
				<span class="f_link"><i class="fa fa-graduation-cap f_mini" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://developer.ibm.com/open/omr/">OMR on developerWorks Open</a>
				</span>	
			</div>
		</div>
		
		<div id="f_1">
			<div class="f_icon"  style="background-image: url({{ site.baseurl }}/images/GitHub-Mark-64px.png);">
			</div>
			<div class="f_link_group bold">
				<span class="f_link"><i class="fa fa-github-alt f_mini" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://github.com/eclipse/omr">Contribute on GitHub</a>
				</span>
				<br>
				<span class="f_link"><i class="fa fa-gavel f_mini" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://github.com/eclipse/omr/blob/master/LICENSE">OMR license on GitHub</a>
				</span>
			</div>
		</div>

		<div id="f_1">
			<div class="f_icon"  style="background-image: url({{ site.baseurl }}/images/fa_thumb_up.png);">
			</div>
			<div class="f_link_group bold">
				<span class="f_link"><i class="fa fa-twitter f_mini" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://twitter.com/eclipseomr">Follow us on Twitter</a>
				</span>
				<br>
				<span class="f_link"><i class="fa fa-youtube-play f_mini" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.youtube.com/channel/UCO8MkTRrFnLefi5nqReOMMA">OMR on YouTube</a>
				</span>
			</div>
		</div>
		
</div>

<!--<div id="f_container_3">
		<div id="f_2">
			<div align="center">
				<a href="https://projects.eclipse.org/projects/technology.omr">
					<img id="incubatingIcon" align="center" src="../../images/incubating.png" border="0" alt="Incubation" />
				</a>
			</div>
			<h6 id="incubateText">Incubation</h6>
		</div>
</div>-->

<div id="f_container_2">

		<div id="f_1">
			<div class="f_link_group bold">
				<span class="f_link_2">&nbsp;<i class="fa fa-chevron-circle-right f_mini" aria-hidden="true"></i>&nbsp;<a href="http://www.eclipse.org">Eclipse Foundation website</a>
				</span>
				<span class="f_link_2">&nbsp;<i class="fa fa-chevron-circle-right f_mini" aria-hidden="true"></i>&nbsp;<a href="http://www.eclipse.org/legal/privacy.php">Privacy policy</a>
				</span>
				<span class="f_link_2">&nbsp;<i class="fa fa-chevron-circle-right f_mini" aria-hidden="true"></i>&nbsp;<a href="http://www.eclipse.org/legal/termsofuse.php">Website terms of use</a>
				</span>
				<span class="f_link_2">&nbsp;<i class="fa fa-chevron-circle-right f_mini" aria-hidden="true"></i>&nbsp;<a href="http://www.eclipse.org/legal/copyright.php">Copyright agent</a>
				</span>
				<span class="f_link_2">&nbsp;<i class="fa fa-chevron-circle-right f_mini" aria-hidden="true"></i>&nbsp;<a href="http://www.eclipse.org/legal">Legal</a>
				</span>
			</div>
		</div>
</div>
<!--
     <div id="footer-content">
        <div id="sponsor">OMR is an <a href="https://projects.eclipse.org/projects/technology.omr">Eclipse Technology project</a>. </div>
        <div id="git"><a href="https://github.com/eclipse/omr"> Contribute on GitHub</a>
        </div>
		        <div id="twitter"><a href="https://twitter.com/eclipseomr"><i class="fa fa-twitter" id="tw-icon" aria-hidden="true"></i>   Follow us on Twitter</a>
        </div>
	</div>
-->
</footer>
